/* common css start */
* {
    font-family: 'Grandstander', cursive;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* common css end */

/* header part css start */
.header-section { 
    position: relative;
    height: 500px;
    width: 100%;
    background: linear-gradient(#1dd1a1, #10ac84);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
    padding-top: 30px;
    margin-bottom: 50vh;
}

.header-text p, h1{
    color: white;
    text-align: center;
    margin-bottom: 15px;
}

.card-container{
    display: flex;
    justify-content: center;
}

.card{
    position: absolute;
    top: 100px;
    background-color: #FFFEFF;
    min-height: 500px;
    min-width: 400px;
    margin-top: 30px;
    box-shadow: 3px 5px 7px grey;
    border-radius: 10px;
    padding: 20px;
}

.card-header-text h3, h5{
    border-bottom: 3px solid tomato;
    margin-bottom: 15px;
    line-height: 20px;
}

.card-details{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-container{
    border: 1px solid#18C396;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 15px;
}

.form-control{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.form-control input{
    width: 70px;
    line-height: 30px;
    border: 2px solid tomato;
    border-radius: 5px;
    padding-left: 5px;
}

input:focus{
    outline: none;
    border: 2px solid #18C396;
    transform: skewX(3deg);
}

.card::after{
    content: "DEVELOPER: Anik Sarker";
    display: block;
    color: #18C396;
    clear: both;
    font-weight: bold;
}

.submit-btn{
    background-color: #18C396;
    border: 1px solid grey!important;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    font-weight: bold;
    padding: 10px
}

.submit-btn:focus{
    transform: skew(5deg);
}

::placeholder{
    font-weight: bold;
}

/* header part css end */


